Please sign in

<form method="post" action="/sessions">
	<p>
		<input type="text" name="email" placeholder="Email">
	</p>
	<p>
		<input type="password" name="password" placeholder="Password">
	</p>
	<p>
		<input type="submit" value="Sign up"> 
	</p>
</form>
